<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frankyindustries.fakhri.bisya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/bisya"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bisya"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <!--<meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />-->

        <activity
            android:name=".menu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.huruf.BelajarHuruf"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.angka.BelajarAngka"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kata.BelajarKata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyExercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.MyCourse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.Developer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise.Exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kalimat.BelajarKalimat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kalimat.tanya.KalimatTanya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise.ExerciseMengurutkan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseKalimat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kalimat.belajar_kalimat_3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kalimat.belajar_kalimat_4"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".course.kata.sapaan.sapaa" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".course.kata.sapaan.KataSapaan_2" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".show_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".show_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercise.quis.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".exercise.quis.QuizActivity"
            android:parentActivityName=".exercise.quis.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".congratulations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kata.sifat.KataSifat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kata.kerja.KataKerja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".course.kata.benda.KataBenda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>


</manifest>